<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ECO TOUR! | </title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="{{ asset('assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="{{ asset('assets/css/maps/jquery-jvectormap-2.0.3.css') }}" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{{ path('home_page', {'page': 'indexAdmin'}) }}" class="site_title"><i class="fa fa-paw"></i> <span>ECO TOUR!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="{{ asset('assets/images/img.jpg') }}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>Usuario</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-edit"></i> Reservas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('reservas_page', {'page': 'nueva'}) }}">Añadir reservas</a></li>
                      <li><a href="{{ path('reservas_page', {'page': 'listado'}) }}">Lista Reservas</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-home"></i> Informes <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                      <li><a href="{{ path('home_page', {'page': 'home'}) }}">Clientes atendidos</a></li>
                      <li><a href="{{ path('home_page', {'page': 'indexManana'}) }}">Reservas de mañana</a></li>
                      <li><a href="{{ path('home_page', {'page': 'indexEspera'}) }}">Lista de espera</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

           
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{ asset('assets/images/img.jpg') }}" alt="">Usuario
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{{ path('home_page', {'page': 'index'}) }}"><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
              <div class="x_title">
                    <h2>Reservas <small>Nueva reserva</small></h2>
						  

                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
					  <div class="x_title">
						<h2>Clientes <small>Registrados en Sistema</small></h2>
						<ul class="nav navbar-rigth panel_toolbox">
						  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
						</ul>
						<div class="clearfix"></div>
					  </div>
					  <div class="x_content">

						<form class="form-horizontal form-label-left" action="{{ path('reservas_page', {'page': 'finalizar'}) }}" method="post">
						  <div class="form-group">
								 <label class="control-label col-md-3 col-sm-3 col-xs-12">Buscar</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10" style="float: left;" />
										<div id="autocomplete-container" style="position: relative; float: left; width: 400px; margin: 10px;"></div>
										<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
								  <a type="btn btn-default submit" href="{{ path('reservas_page', {'page': 'nueva'}) }}" class="btn btn-primary">Cancelar</a>
										  <input type="submit" name="acceptCliente" class="btn btn-success" value="Aceptar">
							</div>
									</div>
								</div>
						</form>
					  </div>
					</div>
				</div>

                  <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left input_mask" action="{{ path('reservas_page', {'page': 'cantidadPersonas'}) }}" method="post">

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nombres" name="nombres">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" id="inputSuccess3" placeholder="Apellidos" name="apellido">
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="DNI" name="dni">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" id="inputSuccess5" placeholder="Teléfono" name="telefono1">
                        <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Correo" name="corre">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" id="inputSuccess5" placeholder="Teléfono 2" name="telefono2">
                        <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <select class="form-control has-feedback-left" placeholder="País" name="pais">
                            <option selected>País</option>
                            <option value="AF">Afganistán</option> 
                            <option value="AL">Albania</option> 
                            <option value="DE">Alemania</option> 
                            <option value="AD">Andorra</option> 
                            <option value="AO">Angola</option> 
                            <option value="AI">Anguilla</option> 
                            <option value="AQ">Antártida</option> 
                            <option value="AG">Antigua y Barbuda</option> 
                            <option value="AN">Antillas Holandesas</option> 
                            <option value="SA">Arabia Saudí</option> 
                            <option value="DZ">Argelia</option> 
                            <option value="AR">Argentina</option> 
                            <option value="AM">Armenia</option> 
                            <option value="AW">Aruba</option> 
                            <option value="AU">Australia</option> 
                            <option value="AT">Austria</option>  
                            <option value="AZ">Azerbaiyán</option>  
                            <option value="BS">Bahamas</option>  
                            <option value="BH">Bahrein</option>  
                            <option value="BD">Bangladesh</option>  
                            <option value="BB">Barbados</option>  
                            <option value="BE">Bélgica</option>  
                            <option value="BZ">Belice</option>  
                            <option value="BJ">Benin</option>  
                            <option value="BM">Bermudas</option>  
                            <option value="BY">Bielorrusia</option>  
                            <option value="MM">Birmania</option>  
                            <option value="BO">Bolivia</option>  
                            <option value="BA">Bosnia y Herzegovina</option>  
                            <option value="BW">Botswana</option>  
                            <option value="BR">Brasil</option>  
                            <option value="BN">Brunei</option>  
                            <option value="BG">Bulgaria</option>  
                            <option value="BF">Burkina Faso</option>  
                            <option value="BI">Burundi</option>  
                            <option value="BT">Bután</option>  
                            <option value="CV">Cabo Verde</option>  
                            <option value="KH">Camboya</option>  
                            <option value="CM">Camerún</option>  
                            <option value="CA">Canadá</option>  
                            <option value="TD">Chad</option>  
                            <option value="CL">Chile</option>  
                            <option value="CN">China</option>  
                            <option value="CY">Chipre</option>  
                            <option value="VA">Ciudad del Vaticano (Santa Sede)</option>  
                            <option value="CO">Colombia</option>  
                            <option value="KM">Comores</option>  
                            <option value="CG">Congo</option>  
                            <option value="CD">Congo, República Democrática del</option>  
                            <option value="KR">Corea</option>  
                            <option value="KP">Corea del Norte</option>  
                            <option value="CI">Costa de Marfíl</option>  
                            <option value="CR">Costa Rica</option>  
                            <option value="HR">Croacia (Hrvatska)</option>  
                            <option value="CU">Cuba</option>  
                            <option value="DK">Dinamarca</option>  
                            <option value="DJ">Djibouti</option>  
                            <option value="DM">Dominica</option>  
                            <option value="EC">Ecuador</option>  
                            <option value="EG">Egipto</option>  
                            <option value="SV">El Salvador</option>  
                            <option value="AE">Emiratos Árabes Unidos</option>  
                            <option value="ER">Eritrea</option>  
                            <option value="SI">Eslovenia</option>  
                            <option value="ES">España</option>  
                            <option value="US">Estados Unidos</option>  
                            <option value="EE">Estonia</option>  
                            <option value="ET">Etiopía</option>  
                            <option value="FJ">Fiji</option>  
                            <option value="PH">Filipinas</option>  
                            <option value="FI">Finlandia</option>  
                            <option value="FR">Francia</option>  
                            <option value="GA">Gabón</option>  
                            <option value="GM">Gambia</option>  
                            <option value="GE">Georgia</option>  
                            <option value="GH">Ghana</option>  
                            <option value="GI">Gibraltar</option>  
                            <option value="GD">Granada</option>  
                            <option value="GR">Grecia</option>  
                            <option value="GL">Groenlandia</option>  
                            <option value="GP">Guadalupe</option>  
                            <option value="GU">Guam</option>  
                            <option value="GT">Guatemala</option>  
                            <option value="GY">Guayana</option>  
                            <option value="GF">Guayana Francesa</option>  
                            <option value="GN">Guinea</option>  
                            <option value="GQ">Guinea Ecuatorial</option>  
                            <option value="GW">Guinea-Bissau</option>  
                            <option value="HT">Haití</option>  
                            <option value="HN">Honduras</option>  
                            <option value="HU">Hungría</option>  
                            <option value="IN">India</option>  
                            <option value="ID">Indonesia</option>  
                            <option value="IQ">Irak</option>  
                            <option value="IR">Irán</option>  
                            <option value="IE">Irlanda</option>  
                            <option value="BV">Isla Bouvet</option>  
                            <option value="CX">Isla de Christmas</option>  
                            <option value="IS">Islandia</option>  
                            <option value="KY">Islas Caimán</option>  
                            <option value="CK">Islas Cook</option>  
                            <option value="CC">Islas de Cocos o Keeling</option>  
                            <option value="FO">Islas Faroe</option>  
                            <option value="HM">Islas Heard y McDonald</option>  
                            <option value="FK">Islas Malvinas</option>  
                            <option value="MP">Islas Marianas del Norte</option>  
                            <option value="MH">Islas Marshall</option>  
                            <option value="UM">Islas menores de Estados Unidos</option>  
                            <option value="PW">Islas Palau</option>  
                            <option value="SB">Islas Salomón</option>  
                            <option value="SJ">Islas Svalbard y Jan Mayen</option>  
                            <option value="TK">Islas Tokelau</option>  
                            <option value="TC">Islas Turks y Caicos</option>  
                            <option value="VI">Islas Vírgenes (EE.UU.)</option>  
                            <option value="VG">Islas Vírgenes (Reino Unido)</option>  
                            <option value="WF">Islas Wallis y Futuna</option>  
                            <option value="IL">Israel</option>  
                            <option value="IT">Italia</option>  
                            <option value="JM">Jamaica</option>  
                            <option value="JP">Japón</option>  
                            <option value="JO">Jordania</option>  
                            <option value="KZ">Kazajistán</option>  
                            <option value="KE">Kenia</option>  
                            <option value="KG">Kirguizistán</option>  
                            <option value="KI">Kiribati</option>  
                            <option value="KW">Kuwait</option>  
                            <option value="LA">Laos</option>  
                            <option value="LS">Lesotho</option>  
                            <option value="LV">Letonia</option>  
                            <option value="LB">Líbano</option>  
                            <option value="LR">Liberia</option>  
                            <option value="LY">Libia</option>  
                            <option value="LI">Liechtenstein</option>  
                            <option value="LT">Lituania</option>  
                            <option value="LU">Luxemburgo</option>  
                            <option value="MK">Macedonia, Ex-República Yugoslava de</option>  
                            <option value="MG">Madagascar</option>  
                            <option value="MY">Malasia</option>  
                            <option value="MW">Malawi</option>  
                            <option value="MV">Maldivas</option>  
                            <option value="ML">Malí</option>  
                            <option value="MT">Malta</option>  
                            <option value="MA">Marruecos</option>  
                            <option value="MQ">Martinica</option>  
                            <option value="MU">Mauricio</option>  
                            <option value="MR">Mauritania</option>  
                            <option value="YT">Mayotte</option>  
                            <option value="MX">México</option>  
                            <option value="FM">Micronesia</option>  
                            <option value="MD">Moldavia</option>  
                            <option value="MC">Mónaco</option>  
                            <option value="MN">Mongolia</option>  
                            <option value="MS">Montserrat</option>  
                            <option value="MZ">Mozambique</option>  
                            <option value="NA">Namibia</option>  
                            <option value="NR">Nauru</option>  
                            <option value="NP">Nepal</option>  
                            <option value="NI">Nicaragua</option>  
                            <option value="NE">Níger</option>  
                            <option value="NG">Nigeria</option>  
                            <option value="NU">Niue</option>  
                            <option value="NF">Norfolk</option>  
                            <option value="NO">Noruega</option>  
                            <option value="NC">Nueva Caledonia</option>  
                            <option value="NZ">Nueva Zelanda</option>  
                            <option value="OM">Omán</option>  
                            <option value="NL">Países Bajos</option>  
                            <option value="PA">Panamá</option>  
                            <option value="PG">Papúa Nueva Guinea</option>  
                            <option value="PK">Paquistán</option>  
                            <option value="PY">Paraguay</option>  
                            <option value="PE">Perú</option>  
                            <option value="PN">Pitcairn</option>  
                            <option value="PF">Polinesia Francesa</option>  
                            <option value="PL">Polonia</option>  
                            <option value="PT">Portugal</option>  
                            <option value="PR">Puerto Rico</option>  
                            <option value="QA">Qatar</option>  
                            <option value="UK">Reino Unido</option>  
                            <option value="CF">República Centroafricana</option>  
                            <option value="CZ">República Checa</option>  
                            <option value="ZA">República de Sudáfrica</option>  
                            <option value="DO">República Dominicana</option>  
                            <option value="SK">República Eslovaca</option>  
                            <option value="RE">Reunión</option>  
                            <option value="RW">Ruanda</option>  
                            <option value="RO">Rumania</option>  
                            <option value="RU">Rusia</option>  
                            <option value="EH">Sahara Occidental</option>  
                            <option value="KN">Saint Kitts y Nevis</option>  
                            <option value="WS">Samoa</option>  
                            <option value="AS">Samoa Americana</option>  
                            <option value="SM">San Marino</option>  
                            <option value="VC">San Vicente y Granadinas</option>  
                            <option value="SH">Santa Helena</option>  
                            <option value="LC">Santa Lucía</option>  
                            <option value="ST">Santo Tomé y Príncipe</option>  
                            <option value="SN">Senegal</option>  
                            <option value="SC">Seychelles</option>  
                            <option value="SL">Sierra Leona</option>  
                            <option value="SG">Singapur</option>  
                            <option value="SY">Siria</option>  
                            <option value="SO">Somalia</option>  
                            <option value="LK">Sri Lanka</option>  
                            <option value="PM">St. Pierre y Miquelon</option>  
                            <option value="SZ">Suazilandia</option>  
                            <option value="SD">Sudán</option>  
                            <option value="SE">Suecia</option>  
                            <option value="CH">Suiza</option>  
                            <option value="SR">Surinam</option>  
                            <option value="TH">Tailandia</option>  
                            <option value="TW">Taiwán</option>  
                            <option value="TZ">Tanzania</option>  
                            <option value="TJ">Tayikistán</option>  
                            <option value="TF">Territorios franceses del Sur</option>  
                            <option value="TP">Timor Oriental</option>  
                            <option value="TG">Togo</option>  
                            <option value="TO">Tonga</option>  
                            <option value="TT">Trinidad y Tobago</option>  
                            <option value="TN">Túnez</option>  
                            <option value="TM">Turkmenistán</option>  
                            <option value="TR">Turquía</option>  
                            <option value="TV">Tuvalu</option>  
                            <option value="UA">Ucrania</option>  
                            <option value="UG">Uganda</option>  
                            <option value="UY">Uruguay</option>  
                            <option value="UZ">Uzbekistán</option>  
                            <option value="VU">Vanuatu</option>  
                            <option value="VE">Venezuela</option>  
                            <option value="VN">Vietnam</option>  
                            <option value="YE">Yemen</option>  
                            <option value="YU">Yugoslavia</option>  
                            <option value="ZM">Zambia</option>  
                            <option value="ZW">Zimbabue</option> 
                          </select>
                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <select class="form-control has-feedback-left" placeholder="Provincia" name="provincia">
                          <option value="*">Provincia</option> 
                          <option value="Buenos Aires">Buenos Aires</option> 
                          <option value="Catamarca">Catamarca</option> 
                          <option value="Chaco">Chaco</option> 
                          <option value="Chubut">Chubut</option> 
                          <option value="Corrientes">Corrientes</option> 
                          <option value="Cordoba">Córdoba</option> 
                          <option value="Distrito Federal">Distrito Federal</option> 
                          <option value="Entre Rios">Entre Ríos</option> 
                          <option value="Formosa">Formosa</option> 
                          <option value="Jujuy">Jujuy</option> 
                          <option value="La Pampa">La Pampa</option> 
                          <option value="La Rioja">La Rioja</option> 
                          <option value="Mendoza">Mendoza</option> 
                          <option value="Misiones">Misiones</option> 
                          <option value="Neuquen">Neuquen</option> 
                          <option value="Rio Negro">Río Negro</option> 
                          <option value="Salta">Salta</option> 
                          <option value="San Juan">San Juan</option> 
                          <option value="San Luis">San Luis</option> 
                          <option value="Santa Cruz">Santa Cruz</option> 
                          <option value="Santa Fe">Santa Fe</option> 
                          <option value="Santiago del Estero">Santiago del Estero</option> 
                          <option value="Tierra del Fuego">Tierra del Fuego</option> 
                          <option value="Tucuman">Tucumán</option> 
                          </select>
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                      </div>

							 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <select class="form-control has-feedback-left" placeholder="Ciudad" name="ciudad">
                          <option value="*">Ciudad</option>
                          <option>Avia Terai</option>
                          <option>Charata</option>
                          <option>El Sauzalito</option>
                          <option>Fuerte Esperanza</option>
                          <option>Gancedo</option>
                          <option>General Pinedo</option>
                          <option>General San Martin</option>
                          <option>General Vedia</option>
                          <option>Hermoso Campo</option>
                          <option>Isla del Cerrito</option>
                          <option>Juan Jose Castelli</option>
                          <option>Las Breñas</option>
                          <option>Machagai</option>
                          <option>Mision Nueva Pompeya</option>
                          <option>Pampa del Indio</option>
                          <option>Puerto Tirol</option>
                          <option>Resistencia</option>
                          <option>Roque Saenz Peña</option>
                          <option>Villa Angela</option>
                          <option>Villa Rio Bermejito</option>
                          </select>
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                      </div>


							<fieldset>
	                          <div class="control-group">
                             <div class="controls">
                             <div class="input-prepend input-group">
                             <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                             <input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="03/18/2016 - 03/23/2016" /></div>
                             </div>
                            </div>
                      </fieldset>

                      
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="dropdown dropup docs-options">
                        <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="toggleOptions" data-toggle="dropdown" aria-expanded="true">
                          Servicios
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="Servicios" role="menu">
									
									{% for item in servicios %}
									<li role="presentation">
                            <label class="checkbox-inline">
                              <input type="checkbox" checked name="servicios[]" value="{{item.id}}">
                              {{item.nombre}}
                            </label>
                          </li>
									{%endfor%}

                        </ul>
                      </div>
                      </div>
                      </div>
                      <div class="ln_solid"></div>                      
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <a type="btn btn-default submit" href="{{ path('reservas_page', {'page': 'nueva'}) }}" class="btn btn-primary">Cancelar</a>
                          <!--<a type="btn btn-default submit" href="{{ path('reservas_page', {'page': 'cantidadPersonas'}) }}" name="nuevoCliente" class="btn btn-success">Aceptar</a>-->
								  <input type="submit" name="nuevoCliente" class="btn btn-success" value="Aceptar">
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
        

    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- jQuery autocomplete -->
    <script src="/assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
	 <!-- bootstrap-daterangepicker -->
    <script src="/assets/js/moment/moment.min.js"></script>
	 <script src="/assets/js/datepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>
    
	<!-- bootstrap-daterangepicker -->
	    <script>
		   $(document).ready(function() {
		     $('#fecha_inicio').daterangepicker({
			    singleDatePicker: true,
			    calender_style: "picker_4"
		     }, function(start, end, label) {
             console.log(start.toISOString(), end.toISOString(), label);
	        });
	      });

			$(document).ready(function() {
		     $('#fecha_fin').daterangepicker({
			    singleDatePicker: true,
			    calender_style: "picker_4"
		     }, function(start, end, label) {
             console.log(start.toISOString(), end.toISOString(), label);
	        });
	      });

       </script>


		<script>
      $(document).ready(function() {
			$('#reservation').daterangepicker(null, function(start, end, label) {
		       console.log(start.toISOString(), end.toISOString(), label);
			});
		});
		 </script>

   <!-- /bootstrap-daterangepicker -->
   
   <!-- jQuery autocomplete -->
	{% block javascripts %}
    <script>
      $(document).ready(function() {
		{% autoescape false %}
			{{ clientes }}
      
		{% endautoescape %}
        var clientesArray = $.map(clientes, function(value, key) {
          return {
            value: value,
            data: key
          };
        });

        // initialize autocomplete with custom appendTo
        $('#autocomplete-custom-append').autocomplete({
          lookup: clientesArray,
          appendTo: '#autocomplete-container'
        });
      });
    </script>
	 {% endblock javascripts %}
    <!-- /jQuery autocomplete -->

  </body>
</html>
