{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block sidebar %} {{ parent() }} {% endblock %}
{% block topnav %} {{ parent() }} {% endblock %}
{% block body %} {{ parent() }}

        <!-- page content -->
        <div class="row no-print">
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Informar Pago: {{cliente.apellido}} {{cliente.nombre}}</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Reservas del cliente</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  <div class="table responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Servicio</th>
                          <th>Fecha</th>
                          <th>Acompañantes</th>
                          <th>Importe</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
						            {% for item in reservas %}	
                        <tr id="tr_{{ item.id }}">
                          <th scope="row" id="servicio">{{ item.servicio.nombre }}</th>
                          <td id="fechaReserva">{{ item.fechaDesde.date }}</td>
                          <td id="cantPersonas">{{ item.cantPersonas }}</td>
                          <td id="valorTotal">${{ item.valorTotal }}</td>
                          <td>
                            <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" onClick="setInfoReserva(this)" id="{{item.id}}">Acción
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" >
                              <li><a role= "menuitem" data-toggle="modal" data-target=".bs-example-modal-sm">Eliminar</a></li>
                              <li><a role="menuitem" data-toggle="modal" data-target=".bs-example2-modal-sm">Pagar</a></li>
                              <li><a role="menuitem" href="{{ path('reservas_page', {'page': 'editar'}) }}id={{item.id}}">Editar</a></li>
                            </ul>
                          </div>
                          </td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
              </div>
              <!-- Modal 1 -->
              <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Eliminar Reserva</h4>
                        </div>
                        <div class="modal-body">
                          <h4>¿Desea eliminar la reserva?</h4>
                          <p id="info_servicio_p"></p>
                          <p id="info_reserva_p">Información de la reserva</p>
                          <input type="hidden" id="id_reserva_select" value="">
                          <input type="hidden" id="monto_reserva" value="">
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-cancel btn-block" data-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-success btn-block" data-dismiss="modal" onclick="eliminarReserva();">Confirmar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal 1 -->

                  <!-- Modal Seleccion Tipo Pago -->
                  <div class="modal fade bs-example2-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Seleccione Forma de Pago</h4>
                        </div>
                        <div class="modal-body">
                          <h4>Formas de pago disponibles</h4>
                            <div  id="radio_forma_pago">
                              {% for tipo in tipo_pago %}

                              <div class="radio" >
                                <label >
                                  <input type="radio"   id="id_tipo_{{ tipo.id }}" value="{{tipo.interes}}_{{tipo.cantCuotas}}" name="rTipoPago"> {{tipo.descripcion}}
                                </label>
                              </div>
                           
                            {% endfor%}
                             </div>

                             <div>
                             <h4>Total con Interes : <strong id="total_calculado"><strong></h4>

                             </div>

                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-cancel btn-block" data-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-success btn-block" data-dismiss="modal" onclick="eliminarReserva();">Confirmar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal 1 -->

                  <!-- Modal 5 -->
                  <div class="modal fade bs-example5-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">

                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                              </button>
                              <h4 class="modal-title" id="myModalLabel2">Pagar Reserva</h4>
                            </div>
                            <div class="modal-body">
                              <div class="row print">
                                <section class="content invoice">
                                  <!-- title row -->
                                  <div class="row">
                                    <div class="col-xs-12 invoice-header">
                                      <h1>
                                                      <i class="fa fa-globe"></i> Factura A
                                                      <small class="pull-right">Fecha: 13/09/2016</small>
                                                  </h1>
                                    </div>
                                    <!-- /.col -->
                                  </div>
                                  <!-- info row -->
                                  <div class="row invoice-info">
                                    <div class="col-sm-4 invoice-col">
                                      De
                                      <address>
                                                      <strong>Añoranzas Chaqueñas</strong>
                                                      <br>CUIT: 20-25471654-8
                                                      <br>Bajos del Tacuarí
                                                      <br>Chaco, CP 3500
                                                      <br>Teléfono: (362) 154-4251474
                                                      <br>Email: admin@añoranzaschaqueñas.com
                                                  </address>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 invoice-col">
                                      Para
                                      <address>
                                                      <strong>González Escobar, David Emanuel</strong>
                                                      <br>Tucumán 1141
                                                      <br>Corrientes, CP 3400
                                                      <br>Teléfono: (379) 154-903025
                                                      <br>Email: ninguno
                                                  </address>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 invoice-col">
                                      <b>Factura #007612</b>
                                      <br>
                                      <br>
                                      <b>Orden ID:</b> 4F3S8J
                                      <br>
                                      <b>Fecha de pago:</b> 13/9/2016
                                    </div>
                                    <!-- /.col -->
                                  </div>
                                  <!-- /.row -->

                                  <!-- Table row -->
                                  <div class="row">
                                    <div class="col-xs-12 table">
                                      <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th>Cantidad</th>
                                            <th>Servicio</th>
                                            <th>Serial #</th>
                                            <th style="width: 59%">Descripción</th>
                                            <th>Subtotal</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>1</td>
                                            <td>Restaurante</td>
                                            <td>455-981-221</td>
                                            <td>Cena para dos personas. Consumición de cantina. Cuchillos y tenedores.
                                            </td>
                                            <td>$664.50</td>
                                          </tr>
                                          <tr>
                                            <td>1</td>
                                            <td>Cabalgata</td>
                                            <td>247-925-726</td>
                                            <td>Recorrido de senderos. Reconocimiento de huellas. Una hora de navegación</td>
                                            <td>$500.00</td>
                                          </tr>
                                          <tr>
                                            <td>1</td>
                                            <td>Camping</td>
                                            <td>735-845-642</td>
                                            <td>Alquiler de carpas. Servicios de electricidad, agua caliente, sanitarios y acceso a la pileta de natación, museo, área de juegos y cancha de futbol</td>
                                            <td>$2800.00</td>
                                          </tr>
                                          <tr>
                                            <td>1</td>
                                            <td>Paseo Náutico</td>
                                            <td>422-568-642</td>
                                            <td>Uso de embarcación. Guía de embarcación</td>
                                            <td>$1000</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <!-- /.col -->
                                  </div>
                                  <!-- /.row -->

                                  <div class="row">
                                    <!-- accepted payments column -->
                                    <div class="col-xs-6">
                                      <p class="lead">Métodos de pago:</p>
                                        <img src="{{ asset('assets/images/visa.png') }}" alt="Visa">
                                        <img src="{{ asset('assets/images/mastercard.png') }}" alt="Mastercard">
                                        <img src="{{ asset('assets/images/american-express.png') }}" alt="American Express">
                                        <img src="{{ asset('assets/images/paypal2.png') }}" alt="Paypal">
                                      <div class="radio">
                                        <label class>
                                        <div class="iradio_flat-green checked" style="position: relative;"><input type="radio" class="flat" checked="true" name="iCheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                        </div>
                                        Crédito
                                        </label>
                                        <br>
                                        <label class>
                                        <div class="iradio_flat-green checked" style="position: relative;"><input type="radio" class="flat" checked="false" name="iCheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                        </div>
                                        Débito
                                        </label>
                                        <br>
                                        <label class>
                                        <div class="iradio_flat-green checked" style="position: relative;"><input type="radio" class="flat" checked="false" name="iCheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                        </div>
                                        Efectivo
                                        </label>
                                      </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-6">
                                      <p class="lead">Total a pagar 13/9/2016</p>
                                      <div class="table-responsive">
                                        <table class="table">
                                          <tbody>
                                            <tr>
                                              <th style="width:50%">Subtotal:</th>
                                              <td>$4964,5</td>
                                            </tr>
                                            <tr>
                                              <th>IVA (21%)</th>
                                              <td>$1.042,545</td>
                                            </tr>
                                            <tr>
                                              <th>Total:</th>
                                              <td>$6.007,045</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                    <!-- /.col -->
                                  </div>
                                  <!-- /.row -->

                                  <!-- this row will not appear when printing -->
                                  <div class="row no-print">
                                    <div class="col-xs-12">
                                      <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Imprimir</button>
                                    </div>
                                  </div>
                                </section>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-cancel btn-block" data-dismiss="modal">Cancelar</button>
                              <button type="submit" class="btn btn-success btn-block" data-dismiss="modal" data-toggle="modal" data-target=".bs-example6-modal-sm">
                              <i class="fa fa-credit-card"></i>Confirmar Pago</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Modal 5 -->
                      <!-- Modal 6 -->
                      <div class="modal fade bs-example6-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">

                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                              </button>
                              <h4 class="modal-title" id="confirmadoModal">Reserva Pagada</h4>
                            </div>
                            <div class="modal-body">
                              <h4>Confirmado</h4>
                              <p>La reserva del cliente xxxx ha sido pagada satisfactoriamente</p>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-cancel btn-block" data-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Modal 6 -->
        <!-- page content -->
      </div>
    </div>
        

    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
	  <!-- bootstrap-daterangepicker -->
    <script src="/assets/js/moment/moment.min.js"></script>
	  <script src="/assets/js/datepicker/daterangepicker.js"></script>

    <!-- PNotify -->
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.js') }}"></script>
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>
    
	<!-- bootstrap-daterangepicker -->
	    <script>
		   $(document).ready(function() {
		     $('#fecha_inicio').daterangepicker({
			    singleDatePicker: true,
			    calender_style: "picker_4"
		     }, function(start, end, label) {
             console.log(start.toISOString(), end.toISOString(), label);
	        });
	      });

			$(document).ready(function() {
		     $('#fecha_fin').daterangepicker({
			    singleDatePicker: true,
			    calender_style: "picker_4"
		     }, function(start, end, label) {
             console.log(start.toISOString(), end.toISOString(), label);
	        });
	      });

       </script>
   <!-- /bootstrap-daterangepicker -->

   <!--Ecorp -->
   <script >


      $('input:radio[name=rTipoPago]').click(function () {
          var cuota_interes = this.value.split("_");

          var total_calculado = $('#monto_reserva').val();
         
          total_calculado = total_calculado.slice(1);
          var interes = (100+ eval(cuota_interes[0]))/100;

          total_calculado = total_calculado * interes;
          $('#total_calculado').text("$"+total_calculado);

      });

      // Setea los parametros para los dialogos modales
     function setInfoReserva(o){
        console.debug(o.id);
        var id_reserva = o.id;
        $("#id_reserva_select").val(id_reserva);
        var fecha =   $("#tr_"+ id_reserva).find('td#fechaReserva').html();
        var monto =   $("#tr_"+ id_reserva).find('td#valorTotal').html();
        var servicio = $("#tr_"+ id_reserva).find('th#servicio').html();
        {% autoescape false %}
        var nombre = "{{cliente.apellido}}" + " " + "{{cliente.nombre}}";
        {% endautoescape %}
        console.debug(fecha);
        
        var infoReserva = nombre +" |" + "Monto : " + monto;
        var infoServicio = "Servicio : "+ servicio ;

        $('#info_reserva_p').text(infoReserva);
        $('#info_servicio_p').text(infoServicio);
        $('#total_calculado').text(monto);
        $('#monto_reserva').val(monto);

        /*
        var $divRadio = $('<div>').addClass("radio");

        var $radioBtn = $('<input>').attr({ type: 'radio', name:'visa' , value:'visa', id:'id_visa', class:'flat'}).addClass("flat").addClass("flat");
        var $label = $('<label>').text("FEderico");
        $label.append($radioBtn);
        $label.appendTo($divRadio)
        $divRadio.appendTo('#radio_forma_pago');
         */


         //$('#radio_forma_pago').append($label);



     }


     // Ejecuta la eliminicación de la reserva y responde sobre el estado
     function eliminarReserva(o){

        var id_reserva = $("#id_reserva_select").val();
        // Consulta Ajax
        $.ajax({
            type:"POST",
            url: "{{ path('ajax_eliminar_reserva') }}",
            data: {'id_reserva':id_reserva },
            dataType: 'json',
             success: function (response){              
                //Respuesta
                if(response.mje ==  "OK"){
                    new PNotify({
                    title: 'Reserva Eliminada',
                    text: 'Se han guardo los cambios del cliente',
                    type: 'success',                    
                    styling: 'bootstrap3'
                    });
                  window.scrollTo(0,0);

                }
                else{
                    // Estado Invalido
                    new PNotify({
                    title: 'No eliminar la reserva',
                    text: 'Hubo un problema elimnando la reserva '+ id_reserva + ". Intentelo mas tarde.",
                    type: 'error',                    
                    styling: 'bootstrap3'
                    });
                }
            }
          });
     }

   </script>
   <!-- -->

{% endblock %}
