{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block sidebar %} {{ parent() }} {% endblock %}
{% block topnav %} {{ parent() }} {% endblock %}
{% block body %} {{ parent() }}

<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Pagos <small>Visualización de factura</small></h3>

              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    
                  </div>
                </div>
              </div>
            </div>
             <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Factura por Servicios <small>Detalle</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" id="dvContainer">
                    <section class="content invoice" >
                      <!-- title row -->
                      <div class="row">
                        <div class="col-xs-12 invoice-header">
                          <h1 >
                            <i class="fa fa-globe"></i> Factura A <h2 class="pull-right">Fecha: {{serverTime.date|date("d/m/Y h:m")}}</h2>
                          </h1>
                        </div>
                        <!-- /.col -->
                      </div>

                      <!-- info row -->
                      <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                          De
                          <address>
                            <strong>Añoranzas Chaqueñas</strong>
                            <br>CUIT: 20-25471654-8
                            <br>Bajos del Tacuarí
                            <br>Chaco, CP 3500
                            <br>Teléfono: (362) 154-4251474
                            <br>Email: admin@añoranzaschaqueñas.com
                          </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                          Para
                          <address>
                            <strong>{{cliente.apellido}} {{cliente.nombre}}</strong>
                            <br>DIRECCION_CLIENTE
                            <br>Localidad: {{cliente.ciudad}}
                            <br>Teléfono: {{cliente.telefono1}}
                            <br>Email: {{cliente.correo}}
                          </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                          <b>Factura FACTURACION_ID</b>
                          <br>
                          <br>
                          <b>Orden ID:</b> 4F3S8J
                          <br>
                          <b>Fecha de pago:</b> {{ serverTime.date|date("d/m/Y") }}
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <!-- Table row -->
                      <div class="row">
                        <div class="col-xs-12 table">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Cantidad</th>
                                <th>Servicio</th>
                                <th>Serial #</th>
                                <th style="width: 59%">Descripción</th>
                                <th>Subtotal</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td> {{reserva.cantPersonas}} </td>
                                <td> {{reserva.servicio.nombre}}</td>
                                <td> {{reserva.servicio.id}}</td>
                                <td> {{reserva.servicio.descripcion}}</td>
                                <td> {{detalleSaldo.subtotal}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-xs-6">
                          <p class="lead">Métodos de pago: <small>{{tipoPago.descripcion}}</small></p>
                          <p class="lead">Interes generado: <small>% {{tipoPago.interes}}</small></p>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-6">
                          <p class="lead">Total a pagar SERVER_DATE</p>
                          <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th style="width:50%">Subtotal:</th>
                                  <td>$ {{detalleSaldo.subtotal}}</td>
                                </tr>
                                <tr>
                                  <th>IVA (21%)</th>
                                  <td>$ {{detalleSaldo.iva}}</td>
                                </tr>
                                <tr>
                                  <th style="width:50%">Interes pago con Credito:</th>
                                  <td>$ {{detalleSaldo.interes}}</td>
                                </tr>

                                <tr>
                                  <th>Total:</th>
                                  <td>$ {{detalleSaldo.total}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <!-- this row will not appear when printing -->
                      <div class="row no-print">
                        <div class="col-xs-6">
                          <button class="btn btn-default btn-block"  onclick="jQuery('#dvContainer').print()" ><i class="fa fa-print"></i> Imprimir</button>
                          <button type="submit" class="btn btn-cancel btn-block" id="btnCancelar">Cancelar y Volver</button>
                          <button type="submit" class="btn btn-success btn-block" data-dismiss="modal" data-toggle="modal" data-target=".bs-confirmar-modal-sm">
                            <i class="fa fa-credit-card"></i>Registar Pago</button>
                          </div>
                      </div>
                    </section>
					       </div>

                <!-- Modal Confirmar Pago -->
                  <div class="modal fade bs-confirmar-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Confirmar el Pago</h4>
                        </div>
                        <div class="modal-body">
                        <h4> ¿Esta seguro?</h4>
                            

                            <div>
                                <h4>Total: <strong id="total_calculado"> TOTAL_FINAL <strong></h4>
                            </div>

                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-cancel btn-block" data-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-success btn-block" id="confirmar_pago"data-dismiss="modal"
                          >Confirmar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal 1 -->
				    </div>
                  </div>
                </div>
              </div>
            </div>



    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- PNotify -->
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.js') }}"></script>
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>



    <!-- jQueryPrint -->
    <script src="{{ asset('assets/js/jquery-print/jQuery.print.js') }}"></script>


    <!--Ecorp -->
    <script type="text/javascript">

      $(function() {
        $("#btnCancelar").click(function(){
          var pConsumosCliente = "{{ path('pagos_page', {'page': 'ingresar'}) }}?id="+{{cliente.id}};
          window.location.href= pConsumosCliente;

        })
      });


    
      $('#confirmar_pago').click(function(){  
        // Ejecuta el pago de la reserva y responde sobre el estado
        var id_reserva = "{{reserva.id}}" ;
        var id_tipopago = "{{tipoPago.id}}"; 

        $.ajax({
            type:"POST",
            url: "{{ path('ajax_pagar_reserva') }}",
            data: {'id_reserva':id_reserva , 'id_tipopago':id_tipopago},
            dataType: 'json',
             success: function (response){              
                //Respuesta
                if(response.mje ==  "OK"){
                    new PNotify({
                    title: 'Reserva Abonada Efectivamente',
                    text: 'El servicio ha sido pagado con metodo de pago: ',
                    type: 'success',                    
                    styling: 'bootstrap3'
                    });
                  window.scrollTo(0,0);

                }
                else{
                    // Estado Invalido
                    new PNotify({
                    title: 'Error: Al intentar abonar la reserva',
                    text: 'Hubo un problema registrando el pago por la reserva '+ id_reserva + ". Intentelo mas tarde.",
                    type: 'error',                    
                    styling: 'bootstrap3'
                    });
                }
            }
          });


      });


    </script>

{% endblock %}