{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block sidebar %} {{ parent() }} {% endblock %}
{% block topnav %} {{ parent() }} {% endblock %}
{% block body %} {{ parent() }}

		<!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
              <h3>Añadir Reserva</h3>
						
          </div> 
        </div>
        
          <div class="clearfix"></div> 

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Etapas de Reservación <small>Online</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">
                    <!-- Smart Wizard -->
                    <p> Rellene los formularios y precione siguiente para pasar a la siguiente etapa</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">Paso 1<br /><small>Ingreso de Cliente</small></span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">Paso 2<br /><small>Selección de Servicios</small></span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">Paso 3<br /><small>Configure los Servicios</small></span>
                          </a>
                        </li>
                        <!--
                        <li>
                          <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">Step 4<br /><small>Finalizar Rerserva</small></span>
                          </a>
                        </li>
                        -->
                      </ul>
          
          <div id="step-1">
          <form id="form_reserva" action="{{ path('reservas_page', {'page': 'finalizar'}) }}" method="post" novalidate>           
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
								  <h2>Clientes <small>Registrados en Sistema</small></h2>
								  <ul class="nav navbar-rigth panel_toolbox">
								    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
								  </ul>
								  <div class="clearfix"></div>

								</div>
							   
                <div class="x_content">
                  <div class="form-horizontal form-label-left">
									 <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Buscar</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <input type="text" name="cliente_registrado" id="autocomplete-custom-append" class="form-control col-md-10" style="float: left;" />
                        <div id="autocomplete-container" style="position: relative; float: left; width: 400px; margin: 10px;"></div>
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <input type="hidden" id="nuevoCliente"  name="origenCliente" value="">
                          <a type="btn btn-default submit" href="{{ path('reservas_page', {'page': 'nueva'}) }}" class="btn btn-primary">Nuevo</a>
                          <button type="button" class="btn btn-default"onclick="setOrigenDatosCliente()" >Usar</button>
                        </div>
                    </div>
                   </div>
							    </div>
							  </div>
						  </div>
					  </div>

					
					  <div class="form-horizontal form-label-left" id="nuevo_cliente_div" novalidate>  
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombres <span class="required">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="nombre" type="text" data-validate-length-range="2" data-validate-words="2" required="required" class="form-control col-md-7 col-xs-12" name="nombre"/>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name" >Apellido<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="apellido" data-validate-length-range="3" data-validate-words="1" required="required"  class="form-control col-md-7 col-xs-12" name="apellido"/>
              </div>
            </div>

            <div class="item form-group">
              <label for="dni" class="control-label col-md-3 col-sm-3 col-xs-12" >DNI/CI</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="dni" data-validate-minmax="100000,99000000" required="required" class="form-control col-md-7 col-xs-12" type="number" name="dni">
              </div>
            </div>

            <div class="item form-group">
              <label for="telefon1" class="control-label col-md-3 col-sm-3 col-xs-12" name="tel">Telefono1</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="telefono1" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" type="phone" name=" telefono1">
              </div>
            </div>

            <div class="item form-group">
              <label for="telefon1" class="control-label col-md-3 col-sm-3 col-xs-12" name="tel2">Telefono2</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="telefono2" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" type="phone" name="telefono2">
              </div>
            </div>

            <div class="item form-group">
              <label for="telefon1" class="control-label col-md-3 col-sm-3 col-xs-12" name="correo1">CorreoElectronico</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="middle-name" class="form-control col-md-7 col-xs-12 optional" type="email" name="correo">
              </div>
            </div>

            <div class="item form-group">
              <label for="pais" class="control-label col-md-3 col-sm-3 col-xs-12" name="pais-label">Pais</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control has-feedback-left required" placeholder="País" name="pais">
                  <option selected value="">País</option>
                  <option value="AR">Argentina</option> 
                  <option value="BR">Brazil</option> 
                  <option value="BL">Bolivia</option> 
                  <option value="CH">Chile</option>
                  <option value="PA">Paraguay</option> 
                  <option value="UR">Uruguay</option> 
                  <option value="UR">Uruguay</option> 
                </select>
              </div>   
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Provincia</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control has-feedback-left required" placeholder="Provincia" name="provincia">
                   <option value="">Provincia</option> 
                   <option value="Buenos Aires">Buenos Aires</option> 
                   <option value="Catamarca">Catamarca</option> 
                   <option value="Chaco">Chaco</option> 
                   <option value="Chubut">Chubut</option> 
                   <option value="Corrientes">Corrientes</option> 
                   <option value="Cordoba">Córdoba</option> 
                   <option value="Distrito Federal">Distrito Federal</option> 
                   <option value="Entre Rios">Entre Ríos</option> 
                   <option value="Formosa">Formosa</option> 
                   <option value="Jujuy">Jujuy</option> 
                   <option value="La Pampa">La Pampa</option> 
                   <option value="La Rioja">La Rioja</option> 
                   <option value="Mendoza">Mendoza</option> 
                   <option value="Misiones">Misiones</option> 
                   <option value="Neuquen">Neuquen</option> 
                   <option value="Rio Negro">Río Negro</option> 
                   <option value="Salta">Salta</option> 
                   <option value="San Juan">San Juan</option> 
                   <option value="San Luis">San Luis</option> 
                   <option value="Santa Cruz">Santa Cruz</option> 
                   <option value="Santa Fe">Santa Fe</option> 
                   <option value="Santiago del Estero">Santiago del Estero</option> 
                   <option value="Tierra del Fuego">Tierra del Fuego</option> 
                   <option value="Tucuman">Tucumán</option> 
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Localidad</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control has-feedback-left" placeholder="Ciudad" name="ciudad">
                  <option value="*">Ciudad</option>
                    <option>Avia Terai</option>
                    <option>Charata</option>
                    <option>El Sauzalito</option>
                    <option>Fuerte Esperanza</option>
                    <option>Gancedo</option>
                    <option>General Pinedo</option>
                    <option>General San Martin</option>
                    <option>General Vedia</option>
                    <option>Hermoso Campo</option>
                    <option>Isla del Cerrito</option>
                    <option>Juan Jose Castelli</option>
                    <option>Las Breñas</option>
                    <option>Machagai</option>
                    <option>Mision Nueva Pompeya</option>
                    <option>Pampa del Indio</option>
                    <option>Puerto Tirol</option>
                    <option>Resistencia</option>
                    <option>Roque Saenz Peña</option>
                    <option>Villa Angela</option>
                    <option>Villa Rio Bermejito</option>
                </select>
              </div>
            </div>	  
            </div>
          </div> <!-- Fin Step 1-->
          <!-- Step 2-->                        
          <div id="step-2"> 
					 <h2 class="StepTitle">Selección de Servicios</h2>
					   <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="x_panel">
                <div class="x_title">
								<!--Servicios Disponibles-->        
								  <h2>Servicios <small>Disponibles</small></h2>
								  <div class="clearfix"></div>
								  <div class="col-md-9 col-sm-9 col-xs-12">
										{% for item in servicios %}
											<div class="checkbox">
											<label> 
												<input type="checkbox" class="flat" checked="checked" name="servicios[]" value="{{item.servicio.id}}"> {{item.servicio.nombre}}</label>
											</div>
										{% endfor %}									
									</div>								
								</div>
					    </div>
					   </div>
          </div><!-- Step 2 Fin-->
                      
                      
          <div id="step-3">
            <h2 class="StepTitle">Configure los Servicios</h2>
              <p>Configure los servicios seleccionados:</p>
              <!--Habitaciones Posada-->
						  <div id="servicio2">
							 <div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
								  <div class="x_title">
									 <h2>Habitaciones<small>Disponibles</small></h2>

									 <ul class="nav navbar-right panel_toolbox">
									  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
									  </li>
									 </ul>
									 <div class="clearfix"></div>
								  </div>

								  
                  <div class="x_content">
									 <div class="table-responsive">
									  <table class="table table-striped jambo_table bulk_action">
										  <thead>
										    <tr class="headings">
                         <th>  <input type="checkbox" id="check-all" class="flat"> </th>
											   <th class="column-title">Numero </th>
											   <th class="column-title">Camas Simples</th>
											   <th class="column-title">Camas Dobles </th>
											   <th class="column-title">Cant Personas Max</th>
											   <th class="column-title">Valor</th>
											   <th class="column-title no-link last"><span class="nobr">Acion</span></th>
											   <th class="bulk-actions" colspan="7">
											     <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a></th>
										    </tr>
										  </thead>
										  <tbody>
											 {% set i = 0%}
											 {% for item in habitaciones%}
											 {% if i is divisible by (2) %} <tr class="even pointer"> {% else %} <tr class="odd pointer"> {% endif %}
                          <td class="a-center ">
												    <input type="checkbox" class="flat" name="habitaciones[]" value="{{item.id}}">
													</td>
													<td class=" ">{{item.id}}</td>
													<td class=" ">{{item.CantCamasSimples}}</td>
													<td class=" ">{{item.CantCamasDoble}}</td>
													<td class=" ">{{ item.CantCamasSimples + item.CantCamasDoble*2 }}</td>
													<td class=" ">{{item.ValorHabitacion}}</td>
													<td class=" last"><a href="#">View</a>
													</td>
												  </tr>				
												  {% set i = i+1 %}
											 {% endfor %}	

                      </tbody>
									  </table>
									 </div>

									<div class="form-group">
								    <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
								    <div class="col-md-9 col-sm-9 col-xs-12">
                      <div class="controls">
  										  <div class="input-prepend input-group">
  											   <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
  											   <input type="text" style="width: 200px" name="reservation2" id="reservation2" class="form-control" value="03/18/2016 - 03/23/2016" />
  											
  											   <input type="hidden"  name="serv_2_cant" value=4>
  										  </div>
									   </div>
								    </div>
						      </div>
								  </div>
							   </div>
							  </div>
							</div>
	 
						<!-- Habitaciones Posada -->
						<!-- Restaurant-->
						  <div id="servicio3" class="col-md-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
								  <div class="x_panel">
								    <div class="x_title"> <h2>Restaurant</h2>
                      <div class="clearfix"></div>
								    </div>
								   								  
                    <div class="">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Personas</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
    											<select class="form-control" name="serv_3_cant">	
    												{% for i in 1..servicios[2].servicio.maxPlazas %}
    													<option>{{i}}</option>
    												{% endfor%}
    											
    											</select>
  											</div>
  									</div>

  									<div class="x_content">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
  										  <div class="col-md-9 col-sm-9 col-xs-12">
  										    <div class="controls">
                            <div class="input-prepend input-group">
  												    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
  												    <input type="text" style="width: 200px" name="reservation3" id="reservation3" class="form-control" value="03/18/2016 - 03/23/2016" />
                            </div>
  										    </div>
                        </div>
                    </div>
								  </div>
                </div>
						  </div>  <!-- Fin Restaurant-->

              <!-- Camping -->
						  <div id="servicio1" class="col-md-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
								  <div class="x_panel">
								    <div class="x_title"><h2>Camping</h2>
                      <div class="clearfix"></div>
								    </div>
    								
                    <div class="x_content">
										  <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Carpas</label>
											<div class="col-md-9 col-sm-9 col-xs-12">
                        <select class="form-control" name="serv_1_cant">
                          {% for i in 1..servicios[0].servicio.maxPlazas %}
													 <option>{{i}}</option>
                          {% endfor%}
                        </select>
											</div>
									  </div>

										<div class="x_content">
										  <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
										  <div class="col-md-9 col-sm-9 col-xs-12">
										    <div class="controls">
                          <div class="input-prepend input-group">
												    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
												    <input type="text" style="width: 200px" name="reservation1" id="reservation1" class="form-control" value="03/18/2016 - 03/23/2016" />
                          </div>
										    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- Fin Camping -->
						
						  <!-- Cabalgata -->
						  <div id="servicio4" class="col-md-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
								  <div class="x_panel">
								    <div class="x_title"> <h2>Cabalgata</h2>
                      <div class="clearfix"></div>
								    </div>

                    <div class="x_content">
										  <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Personas</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-control" name="serv_4_cant">
                            {% for i in 1..servicios[3].servicio.maxPlazas %}
                              <option>{{i}}</option>
                            {% endfor%}
                          </select>
                        </div>
                    </div>
									  <div class="x_content">
										  <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
										  <div class="col-md-9 col-sm-9 col-xs-12">
										    <div class="controls">
                          <div class="input-prepend input-group">
												    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
												    <input type="text" style="width: 200px" name="reservation4" id="reservation4" class="form-control" value="03/18/2016 - 03/23/2016" />
                          </div>
										    </div>
									   </div>
									  </div>
									 
                    <div class="x_content">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Horario</label>
  										<div class="col-md-9 col-sm-9 col-xs-12">
  										  <select class="form-control" name="serv_4_horario">
  												{% for turno in horarios[4]%}
  													<option value="{{turno.id}}">{{turno.hora_inicio}} - {{turno.hora_fin}}</option>			
  												{% endfor%}
  											</select>
  										</div>
  									</div>
								  </div>
                </div>
						  </div><!-- Fin Cabalgata -->
						
						  <!-- Pesca -->
						  <div id="servicio5" class="col-md-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title"><h2>Pesca</h2>
									     <div class="clearfix"></div>
								    </div>

    								<div class="x_content">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Personas</label>
											<div class="col-md-9 col-sm-9 col-xs-12">
                        <select class="form-control" name="serv_5_cant">
                          {% for i in 1..servicios[4].servicio.maxPlazas %}
												    <option>{{i}}</option>
                          {% endfor%}
                        </select>
											</div>
									  </div>
									  <div class="x_content">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="controls">
                          <div class="input-prepend input-group">
												    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
												    <input type="text" style="width: 200px" name="reservation5" id="reservation5" class="form-control" value="03/18/2016 - 03/23/2016" />
                          </div>
										    </div>
                      </div>
                    </div>
								  </div>
                </div>
              </div><!-- Fin Pesca -->
						
						  <!-- Paseo Nautico -->
						  <div id="servicio6" class="col-md-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
								  <div class="x_panel">
								    <div class="x_title"><h2>Paseo Nautico</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Personas</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-control" name="serv_6_cant">
                            {% for i in 1..servicios[5].servicio.maxPlazas %}
                              <option>{{i}}</option>
                            {% endfor%}
                          </select>
                        </div>
                    </div>

									  <div class="x_content">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
										    <div class="col-md-9 col-sm-9 col-xs-12">
										      <div class="controls">
                            <div class="input-prepend input-group">
                              <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
												      <input type="text" style="width: 200px" name="reservation6" id="reservation6" class="form-control" value="03/18/2016 - 03/23/2016" />
                            </div>
                          </div>
                        </div>
                    </div>
									 
                    <div class="x_content">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Horario</label>
  											<div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-control" name="serv_6_horario">
												    {% for turno in horarios[6]%}
													   <option value="{{turno.id}}">{{turno.hora_inicio}} - {{turno.hora_fin}}</option>			
												    {% endfor%}
                          </select>
                        </div>
                    </div>
								  </div>
                </div>
              </div><!-- Fin PaseoNautido -->
						
						<!-- Guia De Pesca-->
						
						<div id="servicio7" class="col-md-6 col-xs-12">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
								  <div class="x_title">
									<h2>Guia de Pesca</h2>
									<div class="clearfix"></div>
								   </div>
    								  <div class="x_content">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Personas</label>
											<div class="col-md-9 col-sm-9 col-xs-12">
											<select class="form-control" name="serv_7_cant">
											{% for i in 1..servicios[6].servicio.maxPlazas %}
												<option>{{i}}</option>
											{% endfor%}

											</select>
											</div>
									  </div>
									  <div class="x_content">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
										<div class="controls">
											<div class="input-prepend input-group">
												<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
												<input type="text" style="width: 200px" name="reservation7" id="reservation7" class="form-control" value="03/18/2016 - 03/23/2016" />
											</div>
										</div>
									   </div>
									 </div>	
									 
									 <div class="x_content">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Horario</label>
											<div class="col-md-9 col-sm-9 col-xs-12">
											<select class="form-control" name="serv_7_horario">
												{% for turno in horarios[6]%}
													<option value="{{turno.id}}">{{turno.hora_inicio}} - {{turno.hora_fin}}</option>			
												{% endfor%}
											</select>
											</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Fin Guia Pesca -->
					</div> <!-- Fin Step 3-->
          </form>
        </div><!-- End SmartWizard Content -->
                    
                    

                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
    
      </div>
    </div>
	
	  <!-- Datatables -->
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
	  <!-- starrr -->
    <link href="{{ asset('assets/vendors/starrr/dist/starrr.css') }}" rel="stylesheet">



    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
	  <!-- jQuery Smart Wizard -->
    <script src="{{ asset('assets/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
    <!-- jQuery autocomplete -->
    <script src="/assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('/assets/js/moment/moment.min.js') }}"></script>
	  <script src="{{ asset('/assets/js/datepicker/daterangepicker.js') }}"></script>
	  <!-- validator -->
    <script src="{{ asset('assets/vendors/validator/validator.js') }}"></script>
    <!-- PNotify -->
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.js') }}"></script>
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>
    
    <!-- Validaciones -->
    <script>
		// initialize the validator function
		validator.message['date'] = 'No es una fecha real';
		validator.message['complete'] = 'Dato incompleto';
		validator.message['invalid'] = 'Entrada invalida';
		validator.message['empty'] = 'No puede ser vacio';
		validator.message['number'] = 'No es numerico';
		validator.message['select'] = 'Seleccione una opcion';
		validator.message['email'] = 'Direccion de email invalida';
		validator.message['email_repeat'] = 'La direccion no coincide';
		validator.message['number_min'] = 'muy pequeño';
		validator.message['number_max'] = 'muy grande';
		validator.message['checked'] = 'Debe tildar alguna';
		
	
		// validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
		$('#form_reserva')
			.on('blur', 'input[required], input.optional, select.required', validator.checkField)
			.on('change', 'select.required', validator.checkField)
			.on('keypress', 'input[required][pattern]', validator.keypress);




		$('#form_reserva').submit(function(e){
			e.preventDefault();
			var submit = true,
				validatorResult = validator.checkAll(this);
				
			console.debug('Validation Result:');
			//console.debug( validatorResult );


      //Validaciones de Servicios seleccionados
      var servSelect = $('input[name="servicios[]"]:checked').map(function () { return this.value; }).get();
      

      //Para la posada necesita que haya habitaciones marcadas
      if(servSelect.indexOf("2")>=0){

        var habitSelect = $('input[name="habitaciones[]:checked"]').map(function () { return this.value; }).get();
        console.debug(habitSelect);

        if(habitSelect.length == 0){

            // Notificación al Usuario
            new PNotify({
              title: 'Habitaciones no seleccionadas',
              text: 'Debe elegir una habitación o destildar el servicio de Posada para poder continuar.',
              type: 'error',
              hide: false,
              styling: 'bootstrap3'
            });

            window.scrollTo(0,0);
        }
      }
			// Validate the form using generic validaing
			if( validatorResult.valid ){
          this.submit();
			}
      

      // Notificación por formulario Incompleto o invalido
      new PNotify({
        title: 'Hay Datos incompletos ',
        text: 'Algunas informaciones son incorrectas o ausentes. Por favor corrijalas y vuelva a interntarlo',
        type: 'error',
        hide: false,
        styling: 'bootstrap3'
      });

      window.scrollTo(0,0);
     
			return false;
		});
		


	</script>
    


  <!-- jQuery Smart Wizard -->
  <script>
      $(document).ready(function() {
        $('#wizard').smartWizard({
          onLeaveStep: configServicios,
          onFinish: finalizarReserva,
          labelNext:'Siguiente',
          labelPrevious:'Anterior',
          labelFinish:'Finalizar'
        });

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');

      function configServicios(obj, context){
     
          var servicios = $('input[name="servicios[]"]').map(function () {
              return this.value;
          }).get();
          
          
          var servSelect = $('input[name="servicios[]"]:checked').map(function () {
              return this.value;
          }).get();
          

          // Muestra solo los parametros de servicios activados
          for(i in servicios){
            $('#servicio'+servicios[i]).hide();
          }

          // bootstrap-daterangepicker
          
          for(j in servSelect){
            $('#servicio'+servSelect[j]).show();
            $('#reservation'+servSelect[j]).daterangepicker(null, function(start, end, label) {
              console.log(start.toISOString(), end.toISOString(), label);
            });
          }

          // /bootstrap-daterangepicker
              
          return true; 
      }

      function finalizarReserva(obj, context){
        $('#form_reserva').submit();
      }

      });
            
      
    </script>
    <!-- /jQuery Smart Wizard -->
    

    <!-- jQuery autocomplete -->  
    <script>
      $(document).ready(function() {
        {% autoescape false %}
        {{ clientes }}
        {% endautoescape %}
    
        var clientesArray = $.map(clientes, function(value, key) {
          return {
            value: value,
            data: key
          };
        });

        // initialize autocomplete with custom appendTo
        $('#autocomplete-custom-append').autocomplete({
          lookup: clientesArray,
          appendTo: '#autocomplete-container'
        });
      });
    </script>
   
    <!-- /jQuery autocomplete -->
    
    <script>
    function setOrigenDatosCliente(){
      $("input[id=nuevoCliente]").val("registrado");
      console.debug("Cliente Origen DB");
      // No requiero de los datos del cliente
      var $inputs = $("form#form_reserva :input[required]");
      $inputs.each(function(){
          $(this).attr('required', false);
      });
      //Oculta formulario nuevo cliente
      $('#nuevo_cliente_div').hide();
    }
  </script>
    
    <!-- Ecotour Reservas-->
    
    <!-- -->
    
{% endblock %}
